@@charset "UTF-8";

.box_wrap {
  width: 400px;
  margin: 0px;
  padding: 10px;
  border: 3px dotted grey;
}

.box_parent {
  border: 3px dotted blue;
  padding: 10px;

  /* 부모 요소에 float left 부여 but box_wrap는 여전히 float 상태 */
/* 부모 자식 모두 float일때 자식 float 해제 필요 없음 */
  float: left;
}

.box {
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
}

.box1 {
  float: left;
  background-color: green;
}

.box2 {
  float: right;
  background-color: pink;
}
