@charset 'UTF-8';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
body, table, form, section {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

@media  screen and (max-width: 320px), screen and (max-height: 320px) and (orientation: landscape) {
	.header_wrap {
		min-width: 320px;
		height: 50px;		
		background-color: #fff;
		overflow: hidden;
	}
	.header_wrap .logo_linker {
		width: 114px;
		height: 50px;
		float: left;
		position: relative;
	}
	.header_wrap .logo {
		width: 107px;
		height: 22px;
		background: url("/Project C/foodwith/image/logo_m.png") no-repeat center;
		position: absolute;
		left: 7px;
		top: 14px;
	}
	.header_wrap .menu_linker {
		width: 46px;
		height: 50px;
		float: right;
		position: relative;
	}
	.header_wrap .menu {
		width: 32px;
		height: 32px;
		background: url("/Project C/foodwith/image/icon_menu.png") no-repeat center;
		position: absolute;
		top: 9px;
		right: 7px;
	}	
	.header_wrap .nav_wrap {
		width: 320px;
		height: 128px;
		background-color: #fff;
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 100;
		display: none;
	}
	.header_wrap .nav_item {
		margin: 10px 0;
	}
	.header_wrap .nav_wrap .item {
		height: 36px;
		line-height: 36px;
		color: #333;
		text-align: center;
		display: block;
	}
	.header_wrap .menu_linker:active + .nav_wrap{
		display: block;
	}



	.main_wrap {
		min-width: 320px;
	}



	.main_banner {
		background-color: #ffee02;
	}
	.main_banner img {
		width: 250px;
		height: 180px;
		margin: 20px 35px 5px;
	}
	.main_banner .title {
		margin: 0 35px;
		font-size: 22px;
		color: #333;
		line-height: 28px;
		max-height: 56px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient:vertical;
		-webkit-line-clamp: 2;
	}
	.main_banner .line {
		border: solid 1px #000;
		width: 10%;
		margin: 19px auto 20px;
	}
	.main_banner .name_wrap {
		position: relative;
		height: 45px;
		padding-bottom: 30px;
	}
	.main_banner .name {
		font-size: 16px;
		color: #333;
		text-align: center;
		padding: 15px 0 0 51px;
	}
	.main_banner .name::before {
		position: absolute;
		top: 0;
		left: 89px;
		content: '';
		width: 45px;
		height: 45px;
		border-radius: 70%;
		background: url("/Project C/foodwith/image/thumbnail_profile_none.jpg") no-repeat center;
	}




	.main_list {
		background-color: #f0f0f0;
		height: 2095px;
	}
	.main_list .list_item {
		margin: 15px;
	}
	.main_list .img_linker {
		display: block;
	}
	.main_list img {
		width: 290px;
		height: 290px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.main_list .description {
		font-size: 14px;
		color: #333;
		text-align: center;
		padding: 5px 5px 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.main_list .more_item_linker {
		width: 290px;
		height: 33px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid #333;
		display: block;
	}
	.main_list .more_item {
		font-size: 16px;
		color: #333;
		text-align: center;
		line-height: 33px;
	}





	.main_form {
		/* background-color: #f4f5f7; */
		background-color: lightblue;
	}
	.main_form .message_1 {
		font-size: 22px;
		color: #333;
		text-align: center;
		padding-top: 25px;
	}
	.main_form .message_2 {
		font-size: 14px;
		color: #333;
		text-align: center;
		margin: 8px 0 20px;
	}
	.main_form .form_wrap {
		width: 290px;
		margin: 0 auto;
		background-color: #fff;
	}
	.main_form .form_contents {
		padding: 25px;
	}
	.main_form .label {
		font-size: 16px;
		color: #333;
		font-weight: bold;
	}
	.main_form .nickname_input {
		width: 240px;
		padding: 8px 0;
		border-bottom: 1px solid #c1c1c1;
		margin-bottom: 20px;
	}
	.main_form .nickname_input input {
		width: 100%;
		height: 20px;
		line-height: 20px;
		border: 0 none;
		font-size: 14px;
		color: #333;
	}
	.main_form .nickname_input input[type=text]::placeholder {
		font-size: 14px;
		color: #acacac;
		opacity: 1;
	}
	.main_form .nickname_input input[type=text]:-ms-placeholder {
		font-size: 14px;
		color: #acacac;
	}
	.main_form .nickname_input input[type=text]::-ms-placeholder {
		font-size: 14px;
		color: #acacac;
	}
	.main_form .email_wrap {
		overflow: hidden;
	}
	.main_form .email_input {
		width: 114px;
		padding: 8px 0;
		border-bottom: 1px solid #c1c1c1;
		float: left;
	}
	.main_form .email_input input {
		width: 100%;
		height: 20px;
		line-height: 20px;
		border: 0 none;
		font-size: 14px;
		color: #333;
	}
	.main_form .email_input input[type=text]::placeholder {
		font-size: 14px;
		color: #acacac;
		opacity: 1;
	}
	.main_form .email_input input[type=text]:-ms-placeholder {
		font-size: 14px;
		color: #acacac;
	}
	.main_form .email_input input[type=text]::-ms-placeholder {
		font-size: 14px;
		color: #acacac;
	}
	.main_form .at_mark {
		font-size: 14px;
		color: #333;
		line-height: 36px;
		float: left;
	}
	.main_form .email_select {
		display: block;
		position: relative;
		width: 114px;
		height: 36px;
		line-height: 36px;
		border-bottom: 1px solid #c1c1c1;
		text-align: left;
		float: right;
	}
	.main_form .email_select select {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 0 none;		
		font-size: 14px;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	.main_form .email_select::after {
		position: absolute;
		top: 10px;
		right: 0px;
		background:url("/Project C/foodwith/image/icon_arrow_email.png") no-repeat 0 0;
		width: 20px;
		height: 12px;
		display: block;
		content:'';
	}
	.main_form .textarea {
		width: 224px;
		height: 110px;
		padding: 8px;
		border: 1px solid #c1c1c1;
		margin-top: 20px;
	}
	.main_form .textarea textarea {
		width: 100%;
		height: 100%;
		border: 0 none;
		padding: 0;
		font-size: 14px;
		color: #333;
		resize: none;
	}
	.main_form .textarea textarea::placeholder {
		font-size: 14px;
		color: #acacac;
		opacity: 1;
	}
	.main_form .textarea textarea:-ms-placeholder {
		font-size: 14px;
		color: #acacac;
	}
	.main_form .textarea textarea::-ms-placeholder {
		font-size: 14px;
		color: #acacac;
	}



}

