@charset 'UTF-8';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
    /* min-width: 1080px; */
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}


.header_wrap {
	background-color:red;
}
.header_wrap .logo {
	background: url("/Project C/foodwith/image/logo_m.png");
}



@media  screen and (max-width: 320px;), screen and (max-height: 320px) and (orientation: landscape) {
	
}

@media  screen and (max-width: 768px;), screen and (max-height: 768px) and (orientation: landscape) {
	
}
