@charset 'UTF-8';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

@media  screen and (max-width: 320px), screen and (max-height: 320px) and (orientation: landscape) {
	.header_wrap {
		min-width: 320px;
		height: 50px;		
		background-color: #fff;
		overflow: hidden;
		position: relative;
	}
	.header_wrap .logo_linker {
		width: 114px;
		height: 50px;
		display: block;
		float: left;
		position: relative;
	}
	.header_wrap .logo {
		width: 107px;
		height: 22px;
		background: url("/Project C/foodwith/image/logo_m.png") no-repeat center;
		position: absolute;
		left: 7px;
		top: 14px;
	}
	.header_wrap .menu_linker {
		width: 46px;
		height: 50px;
		display: block;
		float: right;
		position: relative;
	}
	.header_wrap .menu {
		width: 32px;
		height: 32px;
		background: url("/Project C/foodwith/image/icon_menu.png") no-repeat center;
		position: absolute;
		top: 9px;
		right: 7px;
	}	
	.header_wrap .menu_wrap {
		height: 128px;
		position: absolute;
		top: 50px;
		left: 0;
		/* display: none; */
	}
	.header_wrap .menu_item {
		margin: 10px 0;
	}
	.header_wrap .menu_wrap .item {
		height: 36px;
		line-height: 36px;
		text-align: center;
		display: block;
		border: 1px solid blue;
	}
	.header_wrap .menu_linker:active + .menu_wrap{
		display: block;
	}




	.main_wrap {
		min-width: 320px;
	}
	.main_banner {
		background-color: #ffee02;
	}
	.main_banner img {
		width: 250px;
		height: 180px;
		margin: 20px 35px 5px;
	}
	.main_banner .title {
		margin: 0 35px;
		font-size: 22px;
		color: #333;
		line-height: 28px;
		max-height: 56px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient:vertical;
		-webkit-line-clamp: 2;
	}
	.main_banner .line {
		border: solid 1px #000;
		width: 10%;
		margin: 15px auto 20px;
	}
	.main_banner .name {
		font-size: 16px;
		color: #333;
		text-align: center;
		padding-bottom: 30px;
	}
	.main_list {
		background-color: #f0f0f0;
	}
	.main_list .list_item {
		margin: 15px;
	}

}

