@charset 'UTF-8';

body {
  background-color: #000;
  margin: 0;
}
.line {
  background-color: #fff;
  position: absolute;
}
.vertical {
  height: 100%;
  width: 1px;
  /* left: 50%; */
}
.horizontal {
  width: 100%;
  height: 1px;
  /* top: 50%; */
}
.target {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.tag {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(40%, 30%); */
  color: #fff;
  font-size: 38px;

  /* margin: 20px; */
}
