@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
}

.header_wrap {
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(64,64,64,0.75);
    z-index: 10;
}
.logo_wrap {
    width: 106px;
    height: 22px;
    margin: 22px 445px;
    background: url("/Project B/image/logo.png") no-repeat 0 0;
}
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
.header_wrap .link_logo {
    display: block;
    width: 106px;
    height: 22px;
}
.main_wrap .banner {
    width: 100%;
    height: 750px;
    background: #fff url("/Project B/image/section_invite.jpg") no-repeat;
}
.main_wrap .creator {
    width: 100%;
    height: 822px;
    background: #f9939d url("/Project B/image/section_creator.jpg") no-repeat center;
}
.main_wrap .store {
    width: 100%;
    height: 1084px;
    background: #d5e43f url("/Project B/image/section_store.jpg") no-repeat center;
}
.main_wrap .store .item_wrap {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.main_wrap .store .item_list {
    margin-top: 300px;
}
.main_wrap .store li {
    float: left;
    width: 230px;
    height: 230px;
    margin: 0 20px 140px 0;
}
.main_wrap .store li:nth-child(4n+4) {
    margin-right: 0px;
}
.main_wrap .store .image_wrap {
    position: relative;
}
.main_wrap .store .thumb_img {
    display: block;
}
.main_wrap .store img {
    border-radius: 10px;
    display: block;
}
.main_wrap .store .dimmed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(96,132,2,0.9);
    border-radius: 10px;
    display: none;
    cursor: pointer;
}
.main_wrap .store .percent {
    font-size: 65px;
    color: #fff;
    text-align: center;
    margin-top: 64px;
}
.main_wrap .store .time {
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
}
.main_wrap .store .image_wrap:hover  .dimmed{
    display: block;
}
.main_wrap .store .thumb_img:focus {
    outline: 0;
}
.main_wrap .store .thumb_img:focus + .dimmed{
    display: block;
}
.main_wrap .store .name {
    font-size: 20px;
    color: #1b1d21;
    text-align: center;
    padding: 20px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_wrap .store .price {
    font-size: 28px;
    color: #1b1d21;
    text-align: center;
    font-weight: bold;
}
.main_wrap .store .won {
    font-size: 20px;
    color: #1b1d21;
    font-weight: normal;
}




.main_wrap .recipe {
    width: 100%;
    height: 1030px;
    background-image: url("/Project B/image/section_recipe.png"), url("/Project B/image/pattern_recipe.png");
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 28%, center;
    background-color: #b893f9;
    position: relative;
}
.main_wrap .recipe .link_img1 {
    width: 480px;
    height: 482px;
    display: block;
    position: absolute;
    top: 297px;
    left: 462px;
    background-color: red;
    opacity: 0.6;
}
.main_wrap .recipe .link_img2 {
    width: 480px;
    height: 482px;
    display: block;
    position: absolute;
    top: 297px;
    left: 962px;
    background-color: blue;
    opacity: 0.6;
} 




.main_wrap .recipe .link {
    width: 310px;
    height: 91px;
    display: block;
    position: absolute;
    top: 845px;
    left: 797px;
    z-index: 2;
}
.main_wrap .recipe .link_purple {
    background-image: url("/Project B/image/go_recipe.gif");
    width: 310px;
    height: 91px;
    position: absolute;
    top: 845px;
    left: 797px;
    z-index: 1;
}
.main_wrap .recipe .link_yellow {
    background-image: url("/Project B/image/go_recipe_over.gif");
    width: 310px;
    height: 91px;
    position: absolute;
    top: 845px;
    left: 797px;
    display: none;
}
.main_wrap .recipe .link_wrap:hover .link_purple {
    display: none;
}
.main_wrap .recipe .link_wrap:hover .link_yellow {
    display: block;
}
.main_wrap .recipe .link:focus {
    outline: 0;
}
.main_wrap .recipe .link:focus + .link_purple {
    display: none;
}
.main_wrap .recipe .link:focus + .link_yellow {
    display: display;
}







.main_wrap .faq {
    width: 100%;
    background-color: #fff;
}


.footer_wrap {
    width: 100%;
    height: 80px;
    font-size: 18px;
    color: #70757d;
    background-color: #e0e4eb;
    line-height: 80px;
    text-align: center;
}
