@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
body {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
}

.header_wrap {
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(64,64,64,0.75);
    z-index: 10;
}
.logo_wrap {
    width: 106px;
    height: 22px;
    margin: 22px 445px;
    background: url("/Project B/image/logo.png") no-repeat 0 0;
}
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
.header_wrap .link_logo {
    display: block;
    width: 106px;
    height: 22px;
}

.main_wrap .banner {
    width: 100%;
    height: 750px;
    background: #fff url("/Project B/image/section_invite.jpg") no-repeat;
}
.main_wrap .creator {
    width: 100%;
    height: 822px;
    background: #f9939d url("/Project B/image/section_creator.jpg") no-repeat center;
}





.main_wrap .store {
    width: 100%;
    height: 1084px;
    background: #d5e43f url("/Project B/image/section_store.jpg") no-repeat center;
}

.main_wrap .recipe {
    width: 100%;
    height: 1030px;
    background: #b893f9 url("/Project B/image/pattern_recipe.png") repeat-x center;
}

.main_wrap .faq {
    width: 100%;
    background-color: #fff;
}


.footer_wrap {
    width: 100%;
    height: 80px;
    font-size: 18px;
    color: #70757d;
    background-color: #e0e4eb;
    line-height: 80px;
    text-align: center;
}
