@charset 'UTF-8';

a {
    text-decoration: none;
}

header {
    background-color: lightpink;
    padding: 20px;
    overflow: hidden;
}
.logo {
    float: left;
    font-size: 20px;
    color: #fff;
}
nav {
    float: right;
}
nav a {
    font-size: 20px;
    color: #fff;
    padding: 0 5px;
}

.gnb_menu {
    display: none;
}


section {
    max-width: 900px;
    margin: 50px auto;
    /* 반응형 웹으로인해 가로 크기가 줄어 들 경우 스크롤 생성 방지 */
    overflow: hidden;
}
.list {
    /* width: 100%;  굳이 필요없다  */
    overflow: hidden;
    margin: -5px;
}
li {
    float: left;
    width: 20%;
    /* margin: 5px;  한 줄에 5개가 올 수 없다 */
}
.inner {
    display: block;
    border: 1px solid #000;
    /* inner 사이즈가 안쪽으로 줄어든다  */
    margin: 5px;         
}
.thumb img {
    width: 100%;
    height: auto;
    /* vertical-align: top; */
}
.title {
    font-size: 14px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 0;
    text-align: center;
}


footer {
    width: 100%;
    height: 40px;
    background-color: #ccc;
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 40px;
}

@media screen and (max-width:768px), screen and (max-height:768px) and (orientation:landscape) {
    header {
        background-color: lightseagreen;
    }
    .logo {
        float: none;
        display: block;
        font-size: 40px;
        text-align: center;

        width: 100px;
        margin: 0 auto;
    }
    nav {
        float: none;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        margin-top: 20px;
    }
    nav a {
        font-size: 25px;
    }
    footer {
        background-color: lightcoral;
        color: #fff;
    }
    li {
        width: 25%;
    }
    .inner {
        margin: 4px;
        position: relative;
    }
    .list {
        margin: -4px;
    }
    .title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.2);

        padding: 10px 0;
    }
}


@media screen and (max-width:375px), screen and (max-height:375px) and (orientation: :landscape) {
    header {
        padding: 10px 0;
    }
    nav {
        
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        z-index: 10px;
        width: 200px;
        margin: 0;
        background-color: lightslategray;
    }
    nav a {
        display: block;
        padding: 20px 10px;
        font-size: 20px;
        border-bottom: 1px solid #fff;
    }
    .gnb_menu {
        position: absolute;
        top:12px;
        left: 12px;
        display: block;
        width: 40px;
        height: 35px;
        font-size: 1px;
        color: transparent;
        background: linear-gradient(#fff 50%, transparent 50%);
        background-size: 100% 10px;
    }
    section {
        margin: 0;
    }
    .list li {
        width: 100%;
    }
    .inner {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        border: none;
        border-top: 1px solid #000;
    }
    .thumb {
        display: table-cell;
        position: relative;
        right: auto;
        left: auto;
        bottom: auto;
        vertical-align: middle;
        background-color: #fff;
        padding: 8px;
        color: #000;
        text-overflow: inherit;
        white-space: inherit;
        text-align: left;
    }
}