@charset 'UTF-8';

body {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
}
header {
    height: 120px;
    background-color: #000;
}
header h1 {
    width: 1000px;
    height: 120px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 120px;
    margin: 0 auto;
}
nav {
    width: 1080px;
    margin: 0 auto;
}
.nav_list {
    overflow: hidden;
    padding: 0 40px;
}
nav .item {
    float: left;
    width: 322px;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    text-align: center;
    padding: 8px 0;
    margin: 40px 0;
}
.nav_list li + li {
    margin-left: 14px;
}
.nav_list .red:hover {
    font-weight: bold;
    border: 1px solid #454545;
    background-color: red;
}
.nav_list .green:hover {
    font-weight: bold;
    border: 1px solid #454545;
    background-color: green;
}
.nav_list .blue:hover {
    font-weight: bold;
    border: 1px solid #454545;
    background-color: blue;
}
nav p {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 13px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #454545;
}





section {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.sec_list li {
    float: left;
    width: 230px;
    margin: 20px 20px 140px 0;
}
.sec_list li:nth-child(4n+4) {
    margin-right: 0px;
}
.sec_list img {
    border-radius: 10px;
    display: block;
}

.sec_list .image_wrap {
    position: relative;
}
.sec_list .thumb_img {
    display: inline-block;
}
.sec_list .dimmed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(96,132,2,0.9);
    border-radius: 10px;
    display: none;
}
.sec_list .percent {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
.sec_list .time {
    color: #fff;
    display: block;
    text-align: center;
}
.image_wrap:hover  .dimmed{
    display: block;
}

.sec_list .name {
    font-size: 20px;
    color: #1b1d21;
    text-align: center;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sec_list .price {
    font-size: 28px;
    color: #1b1d21;
    text-align: center;
}
.sec_list .won {
    font-size: 18px;
}



footer {
    border-top: 1px solid #d1d1d1;
}
footer address {
    margin: 30px 0 12px 0;
    text-align: center;
    font-size: 15px;
    color: gray;
}
footer p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    color: #000;
}