@charset 'UTF-8';

body {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
    background: url(../image/section_store.jpg) no-repeat;
    
}
header {
    height: 66px;
    background: rgba(64,64,64,0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.head_wrap {
    width: 1080px;
    margin: 0 auto;
    line-height: 66px;
    overflow: hidden;
}
.head_wrap .logo {
    float: left;
    padding-left: 30px;
    display: block;
}
.head_wrap .member {
    float: right;
    padding-right: 50px;
    font-size: 24px;
}
.head_wrap .member:hover {
    font-weight: bold;
}



/* section {
    background: url(../image/section_store.jpg) no-repeat center center fixed;
    background-size: cover;
} */
.sec_wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.sec_list {
    margin: 300px auto 180px;
}
.sec_list li {
    float: left;
    width: 230px;
    margin: 0 20px 80px 0;
}
.sec_list li:nth-child(4n+4) {
    margin-right: 0px;
}
.sec_list img {
    border-radius: 10px;
    display: block;
}

.sec_list .image_wrap {
    position: relative;
}
.sec_list .thumb_img {
    display: inline-block;
}
.sec_list .dimmed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(96,132,2,0.9);
    border-radius: 10px;
    display: none;
}
.sec_list .percent {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
}
.sec_list .time {
    color: #fff;
    display: block;
    text-align: center;
}
.image_wrap:hover  .dimmed{
    display: block;
}
.thumb_img:focus {
    outline: 0;
}
.thumb_img:focus + .dimmed{
    display: block;
}
.sec_list .name {
    font-size: 20px;
    color: #1b1d21;
    text-align: center;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sec_list .price {
    font-size: 28px;
    color: #1b1d21;
    text-align: center;
}
.sec_list .won {
    font-size: 18px;
}



footer {
    border-top: 1px solid #d1d1d1;
    background: #fff;
}
footer address {
    margin: 30px 0 12px 0;
    text-align: center;
    font-size: 15px;
    color: gray;
}
footer p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    color: #000;
}