@charset "UTF-8";

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
body  {
    font-family: '나눔고딕', 'NanumGothic', '돋움', Dotum, sans-serif;
    min-width: 1080px;
}


.header_wrap {
    height: 66px;
    background: rgba(64,64,64,0.75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.header_wrap .logo_wrap {
    width: 1080px;
    margin: 0 auto;
    padding: 22px 0 0 46px;
}
.header_wrap .link_logo {
    display: block;
    width: 106px;
    height: 22px;
    background: url("/HTML_CSS/Project B/image/logo.png") no-repeat 0 0;
}
.main_wrap .banner {
    background-color: #fff;
}
.main_wrap .banner_inner {
    background: url("/HTML_CSS/Project B/image/section_invite.jpg") no-repeat center;
    height: 750px;
}
.main_wrap .creator {
    background-color: #f9939d;
}
.main_wrap .creator_inner {
    background: url("/HTML_CSS/Project B/image/section_creator.jpg") no-repeat center;
    height: 822px;
}
.main_wrap .store {
    background-color: #d5e43f;
}
.main_wrap .store_inner {
    background: url("/HTML_CSS/Project B/image/section_store.jpg") no-repeat center;
    height: 1084px;
}
.main_wrap .store .item_wrap {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.main_wrap .store .item_list {
    margin-top: 300px;
}
.main_wrap .store .item {
    float: left;
    width: 230px;
    height: 230px;
    margin: 0 20px 140px 0;
}
.main_wrap .store .item:nth-child(4n+4) {
    margin-right: 0px;
}
.main_wrap .store .image_wrap {
    position: relative;
}
.main_wrap .store img {
    border-radius: 10px;
}
.main_wrap .store .dimmed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(96,132,2,0.9);
    border-radius: 10px;
    display: none;
}
.main_wrap .store .percent {
    font-size: 65px;
    color: #fff;
    text-align: center;
    margin-top: 64px;
}
.main_wrap .store .time {
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
}
.main_wrap .store .thumb_img:hover .dimmed{
    display: block;
}
.main_wrap .store .thumb_img:focus {
    outline: 0;
}
.main_wrap .store .thumb_img:focus .dimmed{
    display: block;
}
.main_wrap .store .name {
    font-size: 20px;
    color: #1b1d21;
    text-align: center;
    padding: 20px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_wrap .store .price {
    font-size: 28px;
    color: #1b1d21;
    text-align: center;
    font-weight: bold;
}
.main_wrap .store .won {
    font-size: 20px;
    color: #1b1d21;
    font-weight: normal;
}
.main_wrap .recipe {
    background-color: #b893f9;
}
.main_wrap .recipe_inner {
    background-image: url("/HTML_CSS/Project B/image/section_recipe.png"), url("/Web_Development/HTML_CSS/Project B/image/pattern_recipe.png");
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 28%, center;
    height: 1030px;
}
.main_wrap .recipe .img_wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.main_wrap .recipe .link_img {
    width: 480px;
    height: 482px;
		position: absolute;
		top: 297px;
}
.main_wrap .recipe .one {
	left: 11px;
}
.main_wrap .recipe .two {
	right: 11px;
}
.main_wrap .link_wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.main_wrap .recipe .link {
    width: 310px;
    height: 91px;
    position: absolute;
    top: 845px;
    left: 365px;
    z-index: 2;
}
.main_wrap .recipe .linker {
	background: url("/HTML_CSS/Project B/image/go_recipe.gif") no-repeat 0 0;
	width: 310px;
	height: 91px;
}
.main_wrap .recipe .link_wrap:hover .linker {
	background: url("/HTML_CSS/Project B/image/go_recipe_over.gif") no-repeat 0 0;
	width: 310px;
	height: 91px;
}
.main_wrap .recipe .link:focus {
    outline: 0;
}
.main_wrap .recipe .link:focus .linker {
	background: url("/HTML_CSS/Project B/image/go_recipe_over.gif") no-repeat 0 0;
    width: 310px;
    height: 91px;
}
.main_wrap .faq {
    background-color: #fff;
}
.main_wrap .faq_inner {
    padding: 100px 0;
}
.main_wrap .faq_img {
    width: 98px;
    height: 50px;
    margin: 0 auto 30px;
    background: url("/HTML_CSS/Project B/image/title_faq.gif") no-repeat 0 0;
}
.main_wrap .faq_contents {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #a1a5ad;
}
.main_wrap .faq .question_wrap {
    position: relative;
}
.main_wrap .faq .question_wrap .question {
    border-top: 1px solid #a1a5ad;
    font-size: 20px;
    font-weight: bold;
    color: #1b1d21;
    line-height: 28px;
    padding: 23px 80px;
}
.main_wrap .faq .question_wrap .question_icon {
    width: 21px;
    height: 20px;
    background: url("/HTML_CSS/Project B/image/icon_question.gif") no-repeat 0 0;
    position: absolute;
    top: 28px;
    left: 3%;
}
.main_wrap .faq .question_wrap .icon_down {
    border: none;
    width: 80px;
    height: 100%;
    background: url("/HTML_CSS/Project B/image/icon_arrow_down.gif") no-repeat;
    background-position: center 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.main_wrap .faq .question_wrap .icon_up {
    border: none;
    width: 80px;
    height: 100%;
    background: url("/HTML_CSS/Project B/image/icon_arrow_up.gif") no-repeat;
    background-position: center 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.main_wrap .faq .answer_wrap {
    position: relative;
    display: none;
}
.main_wrap .faq .answer_wrap .answer {
    background-color: #f7f8fa;
    font-size: 16px;
    color: #60656e;
    line-height: 28px;
    padding: 23px 80px;
}
.main_wrap .faq .answer_wrap .answer_icon {
    width: 21px;
    height: 17px;
    background: url("/HTML_CSS/Project B/image/icon_answer.gif") no-repeat 0 0;
    position: absolute;
    top: 28px;
    left: 3%;
}
.main_wrap .faq .icon_first:hover + .icon_up {
    display: block;
}
.main_wrap .faq .icon_first:hover ~ .answer_first {
    display: block;
}
.main_wrap .faq .icon_second:hover + .icon_up {
    display: block;
}
.main_wrap .faq .icon_second:hover ~ .answer_second {
    display: block;
}
.main_wrap .faq .icon_third:hover + .icon_up {
    display: block;
}
.main_wrap .faq .icon_third:hover ~ .answer_third {
    display: block;
}
.main_wrap .faq .icon_fourth:hover + .icon_up {
    display: block;
}
.main_wrap .faq .icon_fourth:hover ~ .answer_fourth {
    display: block;
}
.main_wrap .faq .icon_fifth:hover + .icon_up {
    display: block;
}
.main_wrap .faq .icon_fifth:hover ~ .answer_fifth {
    display: block;
}
.footer_wrap {
    height: 80px;
    font-size: 18px;
    color: #70757d;
    background-color: #e0e4eb;
    line-height: 80px;
    text-align: center;
}
.footer_wrap .link_top {
    width: 100px;
    height: 100px;
    background: url("/HTML_CSS/Project B/image/go_top.gif") no-repeat 0 0;
    position: fixed;
    right: 0;
    bottom: 180px;
}
